BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
VOLTAGE 1.100 V;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 6 VCCIO 3.3 V;
BANK 7 VCCIO 3.3 V;
BANK 8 VCCIO 3.3 V;
VCCIO_DERATE PERCENT 0; 
SYSCONFIG MASTER_SPI_PORT=DISABLE CONFIG_IOVOLTAGE=3.3 ;
LOCATE COMP "i_clk16" SITE "G3" ;
LOCATE COMP "o_leds[7]" SITE "C11" ;
LOCATE COMP "o_leds[6]" SITE "B11" ;
LOCATE COMP "o_leds[5]" SITE "C10" ;
LOCATE COMP "o_leds[4]" SITE "A11" ;
LOCATE COMP "o_leds[3]" SITE "A10" ;
LOCATE COMP "o_leds[2]" SITE "B10" ;
LOCATE COMP "o_leds[1]" SITE "B9" ;
LOCATE COMP "o_leds[0]" SITE "C8" ;
IOBUF PORT "i_clk16" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_leds[7]" IO_TYPE=LVTTL33 ;
IOBUF PORT "o_leds[6]" IO_TYPE=LVTTL33 ;
IOBUF PORT "o_leds[5]" IO_TYPE=LVTTL33 ;
IOBUF PORT "o_leds[4]" IO_TYPE=LVTTL33 ;
IOBUF PORT "o_leds[3]" IO_TYPE=LVTTL33 ;
IOBUF PORT "o_leds[2]" IO_TYPE=LVTTL33 ;
IOBUF PORT "o_leds[1]" IO_TYPE=LVTTL33 ;
IOBUF PORT "o_leds[0]" IO_TYPE=LVTTL33 ;
