BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
VOLTAGE 1.100 V;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 6 VCCIO 3.3 V;
BANK 7 VCCIO 3.3 V;
BANK 8 VCCIO 3.3 V;
VCCIO_DERATE PERCENT 0; 
SYSCONFIG MASTER_SPI_PORT=DISABLE CONFIG_IOVOLTAGE=3.3 ;
LOCATE COMP "i_clk16" SITE "G3" ;
LOCATE COMP "o_leds[7]" SITE "C11" ;
LOCATE COMP "o_leds[6]" SITE "B11" ;
LOCATE COMP "o_leds[5]" SITE "C10" ;
LOCATE COMP "o_leds[4]" SITE "A11" ;
LOCATE COMP "o_leds[3]" SITE "A10" ;
LOCATE COMP "o_leds[2]" SITE "B10" ;
LOCATE COMP "o_leds[1]" SITE "B9" ;
LOCATE COMP "o_leds[0]" SITE "A9" ;
IOBUF PORT "i_clk16" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_leds[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_leds[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_leds[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_leds[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_leds[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_leds[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_leds[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_leds[0]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "io_ft_data[0]" SITE "P4" ;
LOCATE COMP "io_ft_data[1]" SITE "P3" ;
LOCATE COMP "io_ft_data[2]" SITE "P2" ;
LOCATE COMP "io_ft_data[3]" SITE "P1" ;
LOCATE COMP "io_ft_data[4]" SITE "N4" ;
LOCATE COMP "io_ft_data[5]" SITE "N3" ;
LOCATE COMP "io_ft_data[6]" SITE "N2" ;
LOCATE COMP "io_ft_data[7]" SITE "N1" ;
LOCATE COMP "io_ft_data[8]" SITE "M3" ;
LOCATE COMP "io_ft_data[9]" SITE "M1" ;
LOCATE COMP "io_ft_data[10]" SITE "L3" ;
LOCATE COMP "io_ft_data[11]" SITE "L2" ;
LOCATE COMP "io_ft_data[12]" SITE "L1" ;
LOCATE COMP "io_ft_data[13]" SITE "K4" ;
LOCATE COMP "io_ft_data[14]" SITE "K3" ;
LOCATE COMP "io_ft_data[15]" SITE "K2" ;
IOBUF PORT "io_ft_data[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_ft_data[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_ft_data[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_ft_data[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_ft_data[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_ft_data[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_ft_data[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_ft_data[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_ft_data[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_ft_data[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_ft_data[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_ft_data[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_ft_data[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_ft_data[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_ft_data[14]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_ft_data[15]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_ft_clk" IO_TYPE=LVCMOS33 ;
LOCATE COMP "io_ft_be[0]" SITE "K1" ;
LOCATE COMP "io_ft_be[1]" SITE "J5" ;
LOCATE COMP "o_ft_rd_n" SITE "M4" ;
LOCATE COMP "o_ft_wr_n" SITE "J1" ;
IOBUF PORT "io_ft_be[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_ft_be[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_ft_rd_n" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_ft_wr_n" IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_ft_gpio1" IO_TYPE=LVCMOS33 ;
LOCATE COMP "i_ft_txe_n" SITE "J4" ;
IOBUF PORT "i_ft_rxf_n" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_ft_txe_n" IO_TYPE=LVCMOS33 ;
LOCATE COMP "i_ft_rxf_n" SITE "J3" ;
LOCATE COMP "i_ft_clk" SITE "H2" ;
FREQUENCY PORT "i_ft_clk" 100.000000 MHz ;
FREQUENCY PORT "i_clk16" 16.000000 MHz ;
IOBUF PORT "io_ft_oe_n" IO_TYPE=LVCMOS33 ;
